:root {
  --clr-primary-100: hsl(30, 38%, 92%);
  --clr-primary-900: hsl(158, 36%, 37%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-700: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Fraunces', serif;

  --fw-medium: 500;
  --fw-bold: 700;

  --fs-14: 0.875em;
  --fs-heading: 0.85em;

  --padding-content: 1.5em;
  --margin-name: 0.4em 0;
  --margin-desc: 1em 0;
  --margin-price: 1.75em 0;
} 


* {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-100);
  font-family: var(--ff-primary);
  color: var(--clr-neutral-700);
  font-size: var(--fs-14);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-neutral-100);
  border: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.image-container img:first-child {
  display: none;
}

.content {
  padding: var(--padding-content);
}

.heading {
  font-weight: var(--fw-medium);
  letter-spacing: .5em;
  font-size: var(--fs-heading);
}

.name {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-900);
  font-size: 2.4em;
  line-height: 1em;
  margin: var(--margin-name);
}

.description {
  margin: var(--margin-desc);
  line-height: 1.5em;
}


.price {
  display: flex;
  align-items: center;
  margin: var(--margin-price);
  gap: 1.5em;
}

.price div:first-child {
  color: var(--clr-primary-900);
  font-family: var(--ff-secondary);
  font-size: 2.25em;
}

.button {
  display: flex;
  width: 100%;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-900);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  padding: 1.25em;
  justify-content: center;
  text-align: center;
  border: 0;
  border-radius: 0.5em;
}

.button-text {
  margin-left: 0.7em;
  padding: 0;
}  


@media (min-width: 650px) {
  :root {
    --fs-heading: 0.75em;
  
    --padding-content: 2em;
    --margin-name: 0.7em 0;
    --margin-desc: 0.7em 0;
    --margin-price: 1.75em 0;
  } 

  .container {
    width: 600px;
  }

  .even-column {
    display: flex;
  }

  .image-container {
    height: 450px;
  }

  .image-container img:last-child {
    display: none;
  }

  .image-container img:first-child {
    display: block;
  }
}

.attribution {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
