:root {
  --clr-primary-100: hsl(30, 38%, 92%);
  --clr-primary-900: hsl(158, 36%, 37%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-700: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Fraunces', serif;

  --fw-medium: 500;
  --fw-bold: 700;

  --fs-14: 0.875em;
} 

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-100);
  font-family: var(--ff-primary);
  color: var(--clr-neutral-700);
  font-size: var(--fs-14);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: var(--clr-neutral-100);
  border: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.even-column {
  display: flex;
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.content {
  padding: 2em;
}

.heading {
  font-weight: var(--fw-medium);
  letter-spacing: .5em;
  font-size: .75em;
}

.name {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-900);
  font-size: 2.4em;
  line-height: 1em;
  padding: .5em 0;
}

.description {
  margin: .7em 0;
  line-height: 1.5em;
}


.price {
  display: flex;
  align-items: center;
  padding: 1.75em 0;
  gap: 1.5em;
}

.price div:first-child {
  color: var(--clr-primary-900);
  font-family: var(--ff-secondary);
  font-size: 2.25em;
}



.button {
  display: flex;
  width: 100%;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-900);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  padding: 1.25em;
  justify-content: center;
  text-align: center;
  border: 0;
  border-radius: .5em;
}

.button-text {
  margin-left: .7em;
  padding: 0;
} 